* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: black;
  color: cyan;
  font-family: sans-serif;
}

.main-screen, .instruction-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.timers {
  display: flex;
  height: 80%;
  width: 100%;
}

.timer {
  flex: 1;
  font-size: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: cyan;
  user-select: none;
  cursor: pointer;
  width: 100%;
}

.btn {
  width: 100%;
  height: 20%;
  background-color: cyan;
  color: black;
  font-size: 7vw;
  font-weight: bold;
  border: none;
}

.carousel {
  height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.carousel-img {
  width: 100%;
  height: auto;
}