* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.app-container {
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 640px;
    display: flex;
    flex-direction: column;
}

.timers-container {
    flex: 1;
    display: flex;
    width: 100%;
}

.timer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25vh;
    color: cyan;
    cursor: pointer;
    user-select: none;
}

.instructions-button {
    width: 100%;
    height: 60px;
    background-color: cyan;
    color: black;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

/* Estilo para a janela de instruções */
.instructions-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.carousel {
    flex: 1;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.carousel img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    scroll-snap-align: start;
}

.close-button {
    width: 100%;
    height: 60px;
    background-color: cyan;
    color: black;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}